.App {
  text-align: center;
}

.App header {
  margin: 30px;
}

h1 {
  margin-bottom: 40px;
}

body {
  background: #dbd8e3;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Besley", serif;
}

.App a {
  text-decoration: none;
  color: #352f44;
}

.App footer {
  margin: 25px 0;
  font-size: 14px;
}
