.App {
  text-align: center;
}

.App header {
  margin: 30px;
}

.App .main {
  margin: 60px 0;
  font-size: 46px;
}

body {
  background: #ececec;
  max-width: 960px;
  margin: 0 auto;
  font-family: "Besley", serif;
}

.App a {
  text-decoration: none;
  color: #393e46;
}

.App footer {
  margin: 25px 0;
  font-size: 14px;
}
