.Dictionary h1 {
    font-size: 28px;
    padding-top: 10px;
}

.Dictionary section {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    text-align: start;
}

.Dictionary input {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #352f44;
}

.SearchBar {
    width: 70%;
    opacity: 0.8;
}

.SearchButton {
    width: 27%;
    margin-left: 5px;
    background-color: #352f44;
    color: #fff;
}

.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
    text-align: start;
    opacity: 0.7;
}